*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 1.25rem;
    font-family:verdana;
    height: 100vh;
    color: #222;
}
header{
    height: 30vh;
    position: relative;
    background: url(./bg-home-office-studio.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
main{
    height: 60vh;   
    padding-top: 2rem;
    position: relative;

}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal{
    text-align: center;
    padding: 2.5rem;
    background-color: rgb(200, 222, 250);
    font-weight: 700;
    font-family: cursive;
    border: solid 0.2rem #81c9fc;
    height: auto;
    margin-top: 2rem;
    position: relative;
    z-index: 5;
    max-width: 900px;
    font-size: 2rem;
   
}
.blur{
    height: 100%;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.6);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
}
.instro{
    margin: 1.5rem;
    font-weight: 700;
}
.up{
    font-size: 2rem;
}
.close{
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
}
.close:hover{
    background-color: red;
}
.addua{
    margin-top: 1.5rem;
}
.navHolder{
    display: flex;
    position: absolute;
    right: 10%;
    top: 20%;
}
.dropDownItem{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 2;
}
.dropDownItem:hover{
 color: white;
 background-color: #81c9fc;

}
.navItem{
    margin-left: 1rem;
    cursor: pointer;
    padding: 1rem;
    /* background: rgb(39 141 216 / .1); */
    border-radius: 1.5rem;
    font-weight: 600;
    color: #278dd8;
    }
    .bars{
        display: none;
    }
.navItem:hover{
    color: rgb(9, 216, 9);
    background: rgb(216 95 9 / .3);
}
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: #222;
    font-size: 2.6rem;
    cursor: none;
}
.btn{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: rgb(39 141 216 / .1);
    color: rgb(216, 95, 9);
}
.btn:hover{
    color: #278dd8;
    background: rgb(216 95 9 / .3);
}

li{
    list-style: none;
}

.hidden{
    display: none;
}
footer{
    text-align: center;
    height: 10vh;
    font-size: smaller;
    color: rgba(235, 235, 236, 0.212);
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}
.socials {
    display: flex;
    flex-direction: row;
}
.socials img{
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.socials img:hover{
    color: #222;
}
@media screen and (max-width: 700px) {
    .navItem{
        display: none;
    }
    .navHolder{
        display: grid;
        z-index: 6;
        background: rgb(216 95 9 / .3);

    }
    .bars{
        display:block;
        cursor: pointer;
    }
    h1{
        font-size: medium;
        font-weight: 900;
        bottom: 5px;
    }
    footer{
        flex-direction: column;
        padding: 5px 0;
    }
    .btn{
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
        border: none;
        color: #278dd8;
        background: rgb(216 95 9 / .3);
    }
    .modal{
        font-size: 1.2rem;
    }
}
@media screen and (width: 768px){
h1{
    font-size: 2rem;
    font-weight: 900;
    bottom: 5px;
}
}